{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a FocusDesk</title>
    <link rel="stylesheet" href="{% static 'focusdesk.css' %}">
</head>
<body>
    <div class="split-container">
        <div class="split-half login-half">
            <img src="{% static 'imgs/spider-white.png' %}" alt="Logo" class="logo" />
            <h1>¿Ya tienes cuenta?</h1>
            <p>Inicia sesinn para acceder a tu espacio de trabajo y continuar con tus proyectos</p>
            <a href="{% url 'login' %}" class="btn btn-login">Iniciar Sesión</a>
        </div>

        <div class="divider"></div>

        <div class="split-half register-half">
            <img src="{% static 'imgs/spider-white.png' %}" alt="Logo" class="logo" />
            <h1>¿No tienes cuenta?</h1>
            <p>Regístrate ahora para comenzar a organizar tus proyectos de manera eficiente</p>
            <a href="{% url 'register' %}" class="btn btn-register">Registrarse</a>
        </div>
    </div>
</body>
</html>